export JENKINS_USER=admin
# API  key  can be created/remade on http://localhost:8080/user/admin/security/ 
JENKINS_USER_API_KEY=113e32c863d0139cddd27e092f69ade149
JENKINS_PIPELINE=php-pipeline
JENKINS_DELAY=20
