
/.history
/.history/*
/.idea/phpunit.xml
/.idea
/.idea/*
/.idea/phpunit.xml`



/storage
/storage/*.key
/api_/vendor

.phpunit.result.cache
Homestead.json
Homestead.yaml

vite.config.js
/dist
/dist/*
run/var



